---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
const activeFolders = ['practiceFolder'];

const {frontmatter} = Astro.props;

var folderPath = frontmatter.file.split('/');
var parentFolder = folderPath[folderPath.length-2];
var hub : Boolean;

switch (parentFolder) {
	case 'pages':
		var contents: any[] = activeFolders;
		hub = true;
		break;
	case 'practiceFolder':
		let raw_contents = await Astro.glob('../pages/practiceFolder/*.md');
		var contents = raw_contents.slice(1).map((content)=>(content.frontmatter.title))
		hub=false;
		break;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/PersonalSite/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/PersonalSite/base.css">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Header folderpath = {folderPath.slice(5,-1)} title = {frontmatter.title}/>
		<Sidebar hub = {hub} parentFolder= {parentFolder} contents={contents}/>
        <slot class = "content" name="content"/>
	</body>
</html>
