---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
const activeFolders = ['folder with a space'];

const {frontmatter} = Astro.props;

var folderPath = frontmatter.file.split('/');
folderPath = folderPath.slice(folderPath.indexOf('pages')+1,-1);
folderPath.unshift('PersonalSite')
var parentFolder = folderPath[folderPath.length-1];
var hub : Boolean;

switch (parentFolder) {
	case 'folder with a space':
		var contents = await Astro.glob('../pages/folder with a space/*.md');
		contents = contents.slice(1)
		hub=false;
		break;
	default:
		parentFolder = 'PersonalSite';
		var contents: any[] = activeFolders;
		hub = true;
		break;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/PersonalSite/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/PersonalSite/base.css">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Header folderPath = {folderPath} title = {frontmatter.title}/>
		<Sidebar hub = {hub} folderPath = {folderPath} parentFolder= {parentFolder} contents={contents}/>
		<div class="Content">
        	<slot><p>Not good dude</p></slot>
		</div>
	</body>
</html>
