---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
const {frontmatter} = Astro.props;

var folderPath = frontmatter.file.split('/');
var parentFolder = folderPath[folderPath.length-2];
let contents = await Astro.glob('../pages/practiceFolder/*.md');

console.log(contents);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/PersonalSite/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/PersonalSite/base.css">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <Header folderpath = {folderPath.slice(5)}/>
		<Sidebar parentFolder= {parentFolder} contents={contents}/>
        <slot name="content"/>
	</body>
</html>
